<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SchoolHub</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static', filename='styles/land_teach.css')}}">
</head>
  <body>
    <div class="text-center"> 
      <div class="bg-primary" id="HEADER">
         <h1 class="Blank"> Welcome to {{school}} </h1>
	  </div>
	<form method="post">
	<div class = "col-md-8">
		<div class="card" id="box1">
			<div class = "card-top">
				<button class="btn btn-success btn-lg" id = "announcement" type = "submit" name="button" value="announcement">Announcements</button>
				<button class="plus" id = "announcementplus" type = "submit" name="button" value="announcement">+</button>
			</div>
		  <div class="card-body" id="announce">
		     <!--- <h5 class="card-title" style="color: white;" id="AnnouncementsTitle"><a type="submit">Announcements</a></h5> -->
		    {% for announcement in announcments %}
			<div class = "content">
		    	<p id="AnnoucementItem"> {{announcement[0]}} • {{announcement[2]}} </p>
				<p id="AnnoucementItem"> {{announcement[1]}} </p>
			</div>
			{% endfor %}
		  </div>	
		</div>
	  </div>
    <div class="col-md-4">
		<div class="card" id="box2">
			<div class = "card-top">
				<button class="btn btn-success btn-lg" id="announcement" type = "submit" name="button"  value="event">Events</button>
				<button class="plus" id="announcementplus" type = "submit" name="button" value="event">+</button>
			</div>
		  <div class="card-body">
		    {% for event in events %}
			<div class ="content">
		    	<p id="AnnoucementItem"> {{event[0]}} • {{event[2]}} </p>
				<div class="titleanddescription">
					<p id="AnnoucementItem"> Description: {{event[1]}} </p>
			</div>
		</div>
			{% endfor %}
		  </div>
		</div><br>
		<div class="lower"> 
			 <div class="card">
				<div class = "card-top">
					<button class="btn btn-success btn-lg" id="announcement" type = "submit" name="button" value="club">Clubs</button>
					<button class="plus" id="announcementplus" type = "submit" name="button" value="club">+</button>
				</div>
			  <div class="card-body">
			    {% for club in clubs %}
				<div class = "content">
		    		<p id="AnnoucementItem"> {{club.name}} </p>
				</div>
				{% endfor %}
			  </div>
			</div>
		</form><br>
		 	<div class="card">
				<div class = "card-top">
					<button class="btn btn-success btn-lg" id="announcement" name="clubPage">Contact</button>
					
		</div>
		<div class="content" style="margin-bottom:10px;">
			<h4>Looking to contact guidance or staff? Click here!</h4>
			</div>
    </div>
		</div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>